.sidebar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  padding: 20px 30px;
}

.page-container {
  box-sizing: border-box;
}

.search-container {
  box-sizing: border-box;

  width: 100%;
  height: 120px;

  padding: 35px 20px 10px;
}

.content-container {
  position: absolute;
  top: 184px;
  bottom: 0;
  left: 0;
  right: 0;
}

.products-container {
  box-sizing: border-box;

  padding: 30px;
}
