<section class="details">
  <h2>Product Details</h2>

  <article *ngIf="product">
    <div class="product">
      <div class="flex-row">
        <div
          class="product__image"
          [ngStyle]="{'background-image': 'url(' + product.src + ')'}"
        ></div>
        <div class="product__action action">
          <h3>{{product.title}}</h3>
          <footer class="action__footer">
            <p>Price: {{product.price | currency}}</p>
            <button
              mat-raised-button
              color="accent"
              [routerLink]="['/']"
            >Back to store</button>
            <button
              mat-raised-button
              color="primary"
              (click)="addToCart(product)"
            >Add to cart</button>
          </footer>
        </div>
      </div>
      <div class="product__description">
        <h3>Description</h3>
        <p>{{product.description}}</p>
      </div>
    </div>
  </article>
</section>
