<div class="cart-container">
  <h2>Your order</h2>

  <mat-list>
    <mat-list-item *ngFor="let item of items">
      <div class="order__image"
           matListAvatar
           [ngStyle]="{'background-image': 'url(' + item.src + ')'}"></div>
      <h4 matLine>{{ item.title }}</h4>
      <p matLine>{{ item.description }}</p>
      <p class="order__price">{{ item.price | currency }}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <app-shipping></app-shipping>
</div>
