<mat-grid-list
  [cols]="getGridBreakpoint"
  rowHeight="460px"
  gutterSize="10px"
>
  <mat-grid-tile
    *ngFor="let product of (products | searchFilter: filters.search | priceFilter: filters.price | categoryFilter: filters.category); index as productId"
    class="tile"
  >
    <article class="tile__inner">
      <div class="tile__content">
        <div
          class="tile__image"
          [ngStyle]="{'background-image': 'url(' + product.src + ')'}"
        ></div>
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <p><em>Buy now just for: {{product.price | currency}}</em></p>
      </div>
      <footer class="tile__footer">
        <button
          mat-raised-button
          color="accent"
          [routerLink]="['/products', productId]"
        >Details</button>
        <button
          mat-raised-button
          color="primary"
          (click)="addToCart(product)"
        >Add to Cart</button>
      </footer>
    </article>
  </mat-grid-tile>
</mat-grid-list>
